body{
    display: flex;
    flex-direction: row;
    font-family: arial, helvetica;
    background-color: #2e3131;
}

.menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: #2e3131;
    width: 20vw;
    height: 100vh;
    max-width: 1000px;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: -2rem;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background-color: #000000;
}

.contenedor-colores{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin-top: -1rem;
}
.box1{
    height: 25vh;
    background-color: rgb(95, 20, 20);
}
.box2{
    height: 25vh;
    background-color: rgb(71, 43, 17);
}
.box3{
    height: 25vh;
    background-color: rgb(65, 62, 13);
}
.box4{
    height: 25vh;
    background-color: rgb(34, 71, 13);
}